body {
    margin: 0 auto;
    background-color: lightgrey;
    padding: 25px;
}

.container {
    margin-top: 50px;
    background-color: rgba(199, 127, 127, 0.932);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
}

h2 {
    /* visibility: hidden; */
    text-align: center;
}

.winnerColor {
    color: darkcyan;
}

#winningScore {
    font-weight: bold;
}

button {
    margin: 10px 0px;
}

#player1Btn {}

#player2Btn {}